<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ question_title }}中{{ answer_user_nickname }}的回答</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- include summernote css/js-->
	<link href="/static/css/summernote.css" rel="stylesheet">
	<script src="/static/js/summernote.js"></script>
	<script src="/static/js/summernote-zh-CN.js"></script>
</head>

<body>

	<div class="container">
	{% include 'nav.html' %}
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading" style="text-align:left">{{ answer_user_nickname }}的回答</div>
				<div class="panel-body">{{ answer_text|safe }}</div>
			</div>
		</div>
		<div class="row">
			<div class="well-sm col-xs-12" style="background-color:#428bca;">
				<div class= "col-xs-8">
					<div class="col-xs-4 col-xs-offset-4" style="text-align:center;">回答者:{{ answer_user_nickname }}</div>
					<div class="col-xs-4">
						<button class="btn btn-warning col-xs-6">查看信息</button>
						<button class="btn btn-success col-xs-6">添加好友</button>
					</div>
				</div>
				<div class="col-xs-4">
						<button class="btn btn-default col-xs-3 col-xs-offset-3">收藏</button>
						<button class="btn btn-danger col-xs-3">赞同</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>