<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{ question_title }}</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- include summernote css/js-->
	<link href="/static/css/summernote.css" rel="stylesheet">
	<script src="/static/js/summernote.js"></script>
	<script src="/static/js/summernote-zh-CN.js"></script>
</head>

<body>

	<div class="container">
	{% include 'nav.html' %}
	<p style="width:10px;"></p>
		<div class="row">
			<div class="col-xs-10">
				<div  id="question_show" class="panel panel-primary">
						<div class="panel-heading">{{ question_title }}</div>
						<div class="panel-body">{{ question_text|safe }}</div>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="panel panel-primary">
					<div class="panel-heading" style="text-align:center;">提问者</div>
					<div class="panel-body">此处应该有头像</div>
					<div class="panel-footer" style="text-align:center;">{{ ask_user_nickname }}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10">
				<div class="panel panel-primary">
					<div class="panel-heading">用户回答</div>
					<div id="question_answer" class="well"></div>
					<div class="panel-heading">我来回答</div>
					<form method="POST">
					{% csrf_token %}
						<div class="form-group" style="width:100%;">
							<textarea id="summernote" name="answer_text" placeholder="问题详细内容"></textarea>
							<script>
								$(document).ready(function(){
									$('#summernote').summernote({
										lang: 'zh-CN',
										height: 300,
										focus: true,
									});
								});
							</script>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>