<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>提交问题</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		{% include 'nav.html' %}
		<p style="width:10px;"></p>
		<div class="row">
			<div class="col-xs-1">
				<a href="{% url 'blog_index' %}" class="glyphicon glyphicon-chevron-left" style="color: #428bca; font-size: 20px;"></a>
			</div>
			<div class="col-xs-10">
				<div class="well well-lg">
					<p>您可以在这里输入您的问题标题，问题描述和问题详细内容，完成问题的撰写。提交后您的问题将会随机分发给其他用户，他们的回答将会详细的展示给您。</p>
				</div>
				<form method="POST">
					{% csrf_token %}
					<div class="input-group" style="width:100%;">
						<input name="question_title" type="text" class="form-control" placeholder="问题标题">
					</div>
					<p style="width:10px;"></p>
					<div class="input-group" style="width:100%;">
						<input name="question_describe" type="text" class="form-control" placeholder="问题描述">
					</div>
					<p style="width:10px;"></p>
					<div class="input-group" style="width:100%;">
						<textarea style="height:300px;width:100%;" placeholder="问题详细内容"></textarea>
					</div>
					<p style="width:10px;"></p>
					<div class="form-group col-xs-4 col-xs-offset-4" style="width:100%;">
						<button type="submit" class="btn btn-primary" style="width:100%;">我要发问</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>