<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>提交问题</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		{% include 'nav.html' %}
		<p style="width:10px;"></p>
		<div class="row">
			<div class="col-xs-1">
				<a href="{% url 'blog_index' %}" class="glyphicon glyphicon-chevron-left" style="color: #428bca; font-size: 20px;"></a>
			</div>
			<div class="col-xs-10">
				<form method="POST">
					{% csrf_token %}
					<div class="input-group" style="width:100%;">
						<input name="question_title" type="text" class="form-control" placeholder="问题标题">
					</div>
			</div>
		</div>
	</div>
</body>

</html>