<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>我的日记</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/diary.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- include summernote css/js-->
	<link href="/static/css/summernote.css" rel="stylesheet">
	<script src="/static/js/summernote.js"></script>
	<script src="/static/js/summernote-zh-CN.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class='col-xs-12 page'>
				<div class="row">
					<div class='col-xs-8 col-xs-offset-2'>
						<div class='diary-title'>我的日记标题</div>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-2 col-xs-offset-10'>
						<div>开</div>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-4 col-xs-offset-4'>
						<div class='diary-username'>作者</div>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-1 dropup'>
						<span class="glyphicon glyphicon-cog" style="color: rgb(0, 0, 0); font-size: 16px;" data-toggle="dropdown"></span>
						<ul class="dropdown-menu diary-setting" role="menu">
							<li><button type="button" class="btn btn-setting">标题设置</button></li>
							<li><button type="button" class="btn btn-setting">背景设置</button></li>
							<li><button type="button" class="btn btn-setting">音乐设置</button></li>
						</ul>
					</div>
				</div>
				<div class="modal fade" id="Create_and_change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title" id="Create_and_change_title">测试标题</div>
							<div class="modal-body">
								<form id="diary_form" method="POST">
								{% csrf_token %}
								<div class="input_group">
									<input id="diary_title" name="diary_title" class="form-control" placeholder="日记标题">
								</div>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color1">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color3">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color4">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color5">
									</label>
								</div>
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color1">1
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color2">2
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color3">3
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color4">4
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" name="options" id="color5">5
									</label>
								</div>
							</div>
							<div class="modal-footer dialog">
								<button type="button" class="btn btn-primary">测试提交</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">测试关闭</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					var diary_create = {{ diary_create }};
					if(diary_create == '0'){
						$('#Create_and_change_title').html('创建日记');
						$('#Create_and_change').modal('show');
					}
				});
			</script>
		</div>
	</div>
</body>

</html>