<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>我的日记</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/diary.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- include summernote css/js-->
	<link href="/static/css/summernote.css" rel="stylesheet">
	<script src="/static/js/summernote.js"></script>
	<script src="/static/js/summernote-zh-CN.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class='col-xs-12 page' style="background-color: {{ bg_color }};">
				<div class="row">
					<div class='col-xs-8 col-xs-offset-2'>
						<div class='diary-title'>{{ title }}</div>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-2 col-xs-offset-10'>
						<div>开</div>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-4 col-xs-offset-4'>
						<div class='diary-username'>{{ request.user.first_name }}</div>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-1 dropup'>
						<span class="glyphicon glyphicon-cog" style="color: rgb(0, 0, 0); font-size: 16px;" data-toggle="dropdown"></span>
						<ul class="dropdown-menu diary-setting" role="menu">
							<li><button id="title_set" type="button" class="btn btn-setting">标题设置</button></li>
							<li><button id="bg_set" type="button" class="btn btn-setting">背景设置</button></li>
							<li><button id="music_set" type="button" class="btn btn-setting">音乐设置</button></li>
						</ul>
					</div>
				</div>
				<div class="modal fade" id="create_and_change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
					<div class="modal-dialog dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title">创建日记</div>
							</div>
							<div class="modal-body">
								<form id="diary_form" method="POST">
								{% csrf_token %}
								<div class="input_group">
									<input id="diary_title" name="diary_title" class="form-control" placeholder="日记标题">
								</div>
								<div class="row" style="margin: 20px 0px 0px 0px;">
									<div class="col-xs-4" style="text-align: center;">背景颜色</div>
									<div id="bg_color" class="btn-group col-xs-8" data-toggle="buttons">
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="21EBC2">
										</label>
										<label class="btn btn-primary button-select btn_bg_2">
											<input type="radio" class="toggle" value="D84520">
										</label>
										<label class="btn btn-primary button-select btn_bg_3">
											<input type="radio" class="toggle" value="CFBF8C">
										</label>
										<label class="btn btn-primary button-select btn_bg_4">
											<input type="radio" class="toggle" value="FF425D">
										</label>
										<label class="btn btn-primary button-select btn_bg_5">
											<input type="radio" class="toggle" value="6BC235">
										</label>
									</div>
								</div>
								<div class="row" style="margin: 20px 0px 0px 0px;">
									<div class="col-xs-4" style="text-align: center;">字体颜色</div>
									<div id="font_color" class="btn-group col-xs-8" data-toggle="buttons">
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="000000">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
									</div>
								</div>
								<div class="row" style="margin: 20px 0px 0px 0px;">
									<div class="col-xs-4" style="text-align: center;">预设音乐</div>
									<div id="music" class="btn-group col-xs-8" data-toggle="buttons">
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="1">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
										<label class="btn btn-primary button-select">
											<input type="radio" class="toggle" value="#21EBC2">
										</label>
									</div>
								</div>
							</div>
							<div class="modal-footer dialog">
								<button type="button" class="btn btn-primary" id="create">测试提交</button>
								<button type="button" class="btn btn-default" data-dismiss="modal" id="close_and_return">测试关闭</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal_title_set" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog set-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="modal-title">修改标题</div>
						</div>
						<div class="modal-body">
							<div class="input_group">
								<input id="new_title" class="form-control" placeholder="修改标题">
							</div>
						</div>
						<div class="modal-footer dialog">
							<button id="btn_title_set" type="button" class="btn btn-primary">测试提交</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">测试关闭</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal_bg_set" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog set-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="modal-title">修改色调</div>
						</div>
						<div class="modal-body">
							<div class="row" style="margin: 20px 0px 0px 0px;">
								<div class="col-xs-4" style="text-align: center;">背景颜色</div>
								<div id="set_bg_color" class="btn-group col-xs-8" data-toggle="buttons">
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="21EBC2">
									</label>
									<label class="btn btn-primary button-select btn_bg_2">
										<input type="radio" class="toggle" value="D84520">
									</label>
									<label class="btn btn-primary button-select btn_bg_3">
										<input type="radio" class="toggle" value="CFBF8C">
									</label>
									<label class="btn btn-primary button-select btn_bg_4">
										<input type="radio" class="toggle" value="FF425D">
									</label>
									<label class="btn btn-primary button-select btn_bg_5">
										<input type="radio" class="toggle" value="6BC235">
									</label>
								</div>
							</div>
							<div class="row" style="margin: 20px 0px 0px 0px;">
								<div class="col-xs-4" style="text-align: center;">字体颜色</div>
								<div id="set_font_color" class="btn-group col-xs-8" data-toggle="buttons">
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="000000">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
								</div>
							</div>
						</div>
						<div class="modal-footer dialog">
							<button id="btn_bg_set" type="button" class="btn btn-primary">测试提交</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">测试关闭</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modal_music_set" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog set-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="modal-title">修改音乐</div>
						</div>
						<div class="modal-body">
							<div class="row" style="margin: 20px 0px 0px 0px;">
								<div class="col-xs-4" style="text-align: center;">预设音乐</div>
								<div id="set_music" class="btn-group col-xs-8" data-toggle="buttons">
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="1">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
									<label class="btn btn-primary button-select">
										<input type="radio" class="toggle" value="#21EBC2">
									</label>
								</div>
							</div>
						</div>
						<div class="modal-footer dialog">
							<button id="btn_music_set" type="button" class="btn btn-primary">测试提交</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">测试关闭</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog status-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div id="status_show" style="text-align: center;"></div>
						</div>
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					var diary_create = {{ diary_create }};
					if(diary_create == '0'){
						$('#create_and_change_title').html('创建日记');
						$('#create_and_change').modal({
							keyboard:false
						})
						$('#create_and_change').modal('show');
					}
					$('#create').click(function(){
						var diary_title = $('#diary_title').val();
						var diary_bg_color = $('#bg_color input:radio:checked').val();
						var diary_font_color = $('#font_color input:radio:checked').val();
						var diary_music = $('#music input:radio:checked').val();
						var create_status = '';
						$.getJSON("/create_diary/"+diary_title+"/"+diary_bg_color+"/"+diary_font_color+"/"+diary_music+"/",function(create_status){
							if (create_status.status == '1'){
								$('#status_show').html('创建成功，正在进入...');
								$('#status').modal('show');
								window.location.href="/diary/";
							}
							else if (create_status.status == '0'){
								$('#status_show').html('创建失败');
								$('#status').modal('show');
							}
						})
					})
					$('#close_and_return').click(function(){
						window.location.href="/welcome/";
					})
					$('#title_set').click(function(){
						$('#modal_title_set').modal('show');
					})
					$('#btn_title_set').click(function(){
						var status = '';
						var new_title = $('#new_title').val();
						$.getJSON("/diary/"+new_title+"/",function(status){
							if (status.error == '0'){
								$('#status_show').html('修改成功');
								$('#status').modal('show');
								window.location.href="/diary/";
							}
							else if (status.error == '1'){
								$('#status_show').html('修改失败');
								$('#status').modal('show');
							}
						})
					})
					$('#bg_set').click(function(){
						$('#modal_bg_set').modal('show');
					})
					$('#btn_bg_set').click(function(){
						var bg = $('#set_bg_color input:radio:checked').val();
						var font = $('#set_font_color input:radio:checked').val();
						$.getJSON("/diary/set_bg/"+bg+"/"+font+"/",function(status){
							if (status.error == '0'){
								$('#status_show').html('修改成功');
								$('#status').modal('show');
								window.location.href="/diary/";
							}
							else if (status.error == '1'){
								$('#status_show').html('修改失败');
								$('#status').modal('show');
							}	
						})
					})
					$('#music_set').click(function(){
						$('#modal_music_set').modal('show');
					})
					$('#btn_music_set').click(function(){
						var music = $('set_music input:radio:checked').val();
						$.getJSON("/diary/set_music/"+music+"/",function(status){
							if (status.error == '0'){
								$('#status_show').html('修改成功');
								$('#status').modal('show');
								window.location.href="/diary/";
							}
							else if (status.error == '1'){
								$('#status_show').html('修改失败');
								$('#status').modal('show');
							}	
						})
					})
				});
			</script>
		</div>
	</div>
</body>

</html>